/* General Styles */
:root {
  --background: #fafafa;
  --white: #ffffff;
  --black: #000000;
  transition: 0.4s ease;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.sub-heading {
  color: var(--text-black);
  font-family: "Nigante", sans-serif;
  font-size: 40px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1;
}
.sub-heading:hover .star {
  animation-play-state: paused;
}

a {
  text-decoration: none;
  color: var(--text-black);
}

.star {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 3s infinite normal rotateItem;
}

.star img {
  width: 16px;
  height: 16px;
}

.hr {
  height: 1px;
  background-color: var(--hr-line);
  width: 100%;
  flex-shrink: 2;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-green);
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.social-links a:hover {
  background-color: var(--brand-pink);
}

.social-links a img {
  width: 20px;
}

.fix-padding {
  padding-top: 100px;
}

@media screen and (max-width: 820px) {
  .sub-heading {
    font-size: 24px;
  }
}

/* ==== Main Styles ==== */
body {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  background-color: var(--background);
  color: var(--text-black);
  transition: background-color 0.5s ease;
}
