@font-face {
  font-family: "Varguina";
  src: url("/assets/fonts/Varguina/VarguinaRegular.eot");
  src: url("/assets/fonts/Varguina/VarguinaRegular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Varguina/VarguinaRegular.woff2") format("woff2"),
    url("/assets/fonts/Varguina/VarguinaRegular.woff") format("woff"),
    url("/assets/fonts/Varguina/VarguinaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Varguina";
  src: url("/assets/fonts/Varguina/VarguinaRegular_1.eot");
  src: url("/assets/fonts/Varguina/VarguinaRegular_1.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Varguina/VarguinaRegular_1.woff2") format("woff2"),
    url("/assets/fonts/Varguina/VarguinaRegular_1.woff") format("woff"),
    url("/assets/fonts/Varguina/VarguinaRegular_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
